/* ./styles/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Amazon Ember";
	src: url(./../fonts/Amazon-Ember-Medium.ttf);
	font-display: swap;
}

html,
body {
	font-family: "Amazon Ember", Arial, sans-serif;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

.slick-next {
	right: 10px !important;
	z-index: 1;
}

.slick-prev {
	left: 10px !important;
	z-index: 1;
}
@layer components {
	/* Remove spinners (arrows) in input[type="number"] for Mozilla Firefox */
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}
}

@import "tailwindcss/utilities";
